*{
  margin: .5rem;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
    background-color: #E9E9E9;
}

header {
  color: #633e19;
  font-size: 3em;
  font-weight: 600;
}

#header > p:first-child {
    float: bottom;
    text-align: left;
    width: 30%;
    margin-bottom: -2.5em;
}

#header > p:last-child {
    float: top;
    text-align: right;
    width: 90%;
    margin-bottom: -.25em;
}
  
header img {
  margin: 2rem 0;
}

nav {
  background-color: #8FC33A;
  padding:1em;
}

a {
  text-decoration: none;
  color: #633e19;
  font-weight: 400;
  font-size: 1.25em;
  /*display: flex-inline;
  justify-content: space-evenly;*/
}

a:hover {
  background-color:#d2e7b0;
  text-decoration: none;
}
  
/* footer begins here */

.container-1 {
  clear: both;
  display: flex;
  align-items: flex-start;
  background-color: #452b11;
  border: 2px #633e19 solid;
  padding: 0% 0%;
  margin: 2% 2%;
}

.container-1 h3 {
  color: #d2e7b0;
}

.box-1 {
  flex:1;
  text-align: center;
  color: lightgray;
}

.box-1 p {
  font-size: 1.5em;
  padding: 0;
}

.box-2 {
  flex:1;
  text-align: center;
  color: lightgray;
}

.box-3 {
  flex:2;
  text-align: center;
  color: lightgray;
}
/*gallery begins here*/

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
  .portfolio p {
   font-weight: 800;
    color:#633e19;
  }
/* media queries */
@media(max-width: 700px) {
  .portfolio {
 
    
  }
}