*{
  margin: .5rem;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
    background-color: #E9E9E9;
}

header {
  color: #633e19;
  font-size: 3em;
  font-weight: 600;
}

#header > p:first-child {
    float: bottom;
    text-align: left;
    width: 30%;
    margin-bottom: -2.5em;
}

#header > p:last-child {
    float: top;
    text-align: right;
    width: 90%;
    margin-bottom: -.25em;
}
  
header img {
  margin: 2rem 0;
}

nav {
  background-color: #8FC33A;
  padding:1em;
}

a {
  text-decoration: none;
  color: #633e19;
  font-weight: 400;
  font-size: 1.25em;
}

a:hover {
  background-color:#d2e7b0;
  text-decoration: none;
}

article {
  width: 60%;
  float: left;
  padding: 0;
  margin: 0 1%;
}

article section {
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
}

article section h2 {
  color: #633e19;
}

article section h4 {
  color: #80af34;
}

aside {
  width: 35%;
  display:inline-block;
  border: 2px solid #633e19;
  margin: 2% 0%;
  padding: 1% 0%;
}

aside section {
  width: 95%;
  background-color: #d2e7b0;
  padding: 2% 0%;
  margin: 2% auto;
  text-align: center;
}

aside section img {
  border: solid #633e19 2px;
  padding: 1% 1%;
}

aside section h2, h3 {
  color: #633e19;
}

.sidebar-text {
  color: #333333;
  font-weight: 400;
}

.sidebar-hours {
  color: #333333;
  font-weight: 400;
}

.sidebar-link {
  font-size: 1em;
  font-weight: 400;
}

/* test aside

#map {
  width: 90%;
  height: 300px;
}
*/
/*
.container-2 {
  clear: both;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-start;
  border: 2px #8FC33A solid;
  padding: 2
}

.box-4 {
  flex: 1;
}

.box-5 {
  flex: 1;
}

.container-3 {
  clear: both;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-start;
  border: 2px #8FC33A solid;
  padding: 2
}
*/
/*gallery begins here*/


/* footer begins here */

.container-1 {
  clear: both;
  display: flex;
  align-items: flex-start;
  background-color: #452b11;
  border: 2px #633e19 solid;
  padding: 0% 0%;
  margin: 2% 2%;
}

.container-1 h3 {
  color: #d2e7b0;
}

.box-1 {
  flex:1;
  text-align: center;
  color: lightgray;
}

.box-1 p {
  font-size: 1.5em;
  padding: 0;
}

.box-2 {
  flex:1;
  text-align: center;
  color: lightgray;
}

.box-3 {
  flex:2;
  text-align: center;
  color: lightgray;
}
/* test footer

#footer > p:first-child {
    float: left;
    text-align: left;
    width: 33.3%;
    font-size: 1em;
    font-weight: 500
}

#footer > p:nth-child(2) {
    float: left;
    text-align: center;
    width: 33.4%;
    font-size: .75em;
    font-weight: 500;
    color: #633e19;
}

#footer > p:last-child {
    float: right;
    text-align: right;
    width: 33.3%;
    margin-top: -150px;
}*/